In [2]:
import pandas as pd

In [3]:
raw_data=pd.read_csv('C:\\rawData\\개인형 이동장치 수입현황(2019년~2022년 5월, 단위 백만달러).csv',encoding='cp949')

In [4]:
raw_data.columns=["종류","비고","2019년","2020년","2021년","2022년 1~5월"]

In [5]:
raw_data

         종류   비고  2019년  2020년  2021년  2022년 1~5월
0  개인형 이동장치   금액   89.9  131.7  193.7        65.0
1  개인형 이동장치  증감률   25.4   46.5   47.0        33.3
2  개인형 이동장치   비중  100.0  100.0  100.0       100.0
3     전동킥보드   금액   61.0   89.2  111.6        33.9
4     전동킥보드  증감률    7.2   46.2   25.1        45.8
5     전동킥보드   비중   67.9   67.7   57.6        52.1
6     전기자전거   금액   28.9   42.5   82.0        31.1
7     전기자전거  증감률   95.4   47.2   93.0        11.0
8     전기자전거   비중   32.1   32.3   42.4        47.9

In [6]:
pm_data_금액=raw_data[raw_data['비고']=="금액"]
pm_data_금액=pm_data_금액[["종류","2019년","2020년","2021년","2022년 1~5월"]]

In [7]:
# 참고 : 단위는 백만달러
pm_data_금액

         종류  2019년  2020년  2021년  2022년 1~5월
0  개인형 이동장치   89.9  131.7  193.7        65.0
3     전동킥보드   61.0   89.2  111.6        33.9
6     전기자전거   28.9   42.5   82.0        31.1

In [8]:
pm_data_비중=raw_data[raw_data['비고']=="비중"]
pm_data_비중=pm_data_비중[["종류","2019년","2020년","2021년","2022년 1~5월"]]

In [9]:
# 참고 : 단위는 백만달러
pm_data_비중

         종류  2019년  2020년  2021년  2022년 1~5월
2  개인형 이동장치  100.0  100.0  100.0       100.0
5     전동킥보드   67.9   67.7   57.6        52.1
8     전기자전거   32.1   32.3   42.4        47.9