In [13]:
!pip install xlrd==1.2.0

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlrd==1.2.0 in /usr/local/lib/python3.7/dist-packages (1.2.0)

In [14]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [15]:
import pandas as pd

In [16]:
# local_file_path : 로컬 파일 경로 
local_file_path = '../data/월별 교통사고.xls' 
colab_file_path =  '/content/gdrive/My Drive/빅데이터경진대회/월별 교통사고.xls' 
file_path = colab_file_path

df_pm_raw = pd.read_excel(file_path)

In [17]:
# 개인형이동수단만 추출
df_pm_raw = df_raw.iloc[58:61,2:]

In [18]:
# 열 이름 renaming
df_pm_raw.columns = ["유형",
                 "2017년", "2017년 1월", "2017년 2월", "2017년 3월", "2017년 4월",
                 "2017년 5월", "2017년 6월", "2017년 7월", "2017년 8월", 
                 "2017년 9월", "2017년 10월", "2017년 11월", "2017년 12월", 
                 "2018년", "2018년 1월", "2018년 2월", "2018년 3월", "2018년 4월",
                 "2018년 5월", "2018년 6월", "2018년 7월", "2018년 8월", 
                 "2018년 9월", "2018년 10월", "2018년 11월", "2018년 12월",
                 "2019년", "2019년 1월", "2019년 2월", "2019년 3월", "2019년 4월",
                 "2019년 5월", "2019년 6월", "2019년 7월", "2019년 8월", 
                 "2019년 9월", "2019년 10월", "2019년 11월", "2019년 12월",
                 "2020년", "2020년 1월", "2020년 2월", "2020년 3월", "2020년 4월",
                 "2020년 5월", "2020년 6월", "2020년 7월", "2020년 8월", 
                 "2020년 9월", "2020년 10월", "2020년 11월", "2020년 12월",
                 "2021년", "2021년 1월", "2021년 2월", "2021년 3월", "2021년 4월",
                 "2021년 5월", "2021년 6월", "2021년 7월", "2021년 8월", 
                 "2021년 9월", "2021년 10월", "2021년 11월", "2021년 12월"]

In [19]:
#연도별, 월별 혼합 데이터
df_pm_month_year = df_pm_raw.reset_index(drop = True).replace('-', 0)
df_pm_month_year

,유형,2017년,2017년 1월,2017년 2월,2017년 3월,2017년 4월,2017년 5월,2017년 6월,2017년 7월,2017년 8월,...,2021년 3월,2021년 4월,2021년 5월,2021년 6월,2021년 7월,2021년 8월,2021년 9월,2021년 10월,2021년 11월,2021년 12월
0,사고건수,117,0,2,4,4,15,7,13,17,...,133,173,166,167,186,181,184,174,152,113
1,사망자수,4,0,0,0,0,0,1,1,1,...,1,0,0,2,2,1,2,4,2,2
2,부상자수,124,0,2,4,5,16,8,14,17,...,143,201,186,179,199,197,206,189,164,121

In [20]:
#월별 데이터 추출
df_pm_month = df_pm_month_year.loc[[0, 1, 2],
                ["유형","2017년 1월", "2017년 2월", "2017년 3월", "2017년 4월",
                 "2017년 5월", "2017년 6월", "2017년 7월", "2017년 8월", 
                 "2017년 9월", "2017년 10월", "2017년 11월", "2017년 12월", 
                 "2018년 1월", "2018년 2월", "2018년 3월", "2018년 4월",
                 "2018년 5월", "2018년 6월", "2018년 7월", "2018년 8월", 
                 "2018년 9월", "2018년 10월", "2018년 11월", "2018년 12월",
                 "2019년 1월", "2019년 2월", "2019년 3월", "2019년 4월",
                 "2019년 5월", "2019년 6월", "2019년 7월", "2019년 8월", 
                 "2019년 9월", "2019년 10월", "2019년 11월", "2019년 12월",
                 "2020년 1월", "2020년 2월", "2020년 3월", "2020년 4월",
                 "2020년 5월", "2020년 6월", "2020년 7월", "2020년 8월", 
                 "2020년 9월", "2020년 10월", "2020년 11월", "2020년 12월",
                 "2021년 1월", "2021년 2월", "2021년 3월", "2021년 4월",
                 "2021년 5월", "2021년 6월", "2021년 7월", "2021년 8월", 
                 "2021년 9월", "2021년 10월", "2021년 11월", "2021년 12월"]]
df_pm_month

,유형,2017년 1월,2017년 2월,2017년 3월,2017년 4월,2017년 5월,2017년 6월,2017년 7월,2017년 8월,2017년 9월,...,2021년 3월,2021년 4월,2021년 5월,2021년 6월,2021년 7월,2021년 8월,2021년 9월,2021년 10월,2021년 11월,2021년 12월
0,사고건수,0,2,4,4,15,7,13,17,15,...,133,173,166,167,186,181,184,174,152,113
1,사망자수,0,0,0,0,0,1,1,1,0,...,1,0,0,2,2,1,2,4,2,2
2,부상자수,0,2,4,5,16,8,14,17,16,...,143,201,186,179,199,197,206,189,164,121

In [21]:
#연도별 데이터 추출
df_year_pm = df_pm_month_year.loc[[0, 1, 2], ["유형","2017년", "2018년", "2019년", "2020년", "2021년"]]
df_year_pm

     유형  2017년  2018년  2019년  2020년  2021년
0  사고건수    117    225    447    897   1735
1  사망자수      4      4      8     10     19
2  부상자수    124    238    473    985   1901