In [1]:
!pip install xlrd==1.2.0

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting xlrd==1.2.0
  Downloading xlrd-1.2.0-py2.py3-none-any.whl (103 kB)
     |████████████████████████████████| 103 kB 5.2 MB/s
Installing collected packages: xlrd
  Attempting uninstall: xlrd
    Found existing installation: xlrd 1.1.0
    Uninstalling xlrd-1.1.0:
      Successfully uninstalled xlrd-1.1.0
Successfully installed xlrd-1.2.0

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
import pandas as pd

In [4]:
# local_file_path : 로컬 파일 경로 
local_file_path = '../data/시간대별 교통사고.xls' 
colab_file_path =  '/content/gdrive/My Drive/빅데이터경진대회/시간대별 교통사고.xls' 
file_path = colab_file_path

df1_raw = pd.read_excel(file_path)

In [5]:
df1_pm_raw = df1_raw.iloc[58:61, 2:]

In [6]:
df1_pm_raw.columns = [ "유형",
                 "2017년", "2017년 0~2시", "2017년 2~4시", "2017년 4~6시", "2017년 6~8시",
                 "2017년 8~10시", "2017년 10~12시", "2017년 12~14시", "2017년 14~16시", 
                 "2017년 16~18시", "2017년 18~20시", "2017년 20~22시","2017년 22~24시", 
                 "2018년", "2018년 0~2시", "2018년 2~4시", "2018년 4~6시", "2018년 6~8시",
                 "2018년 8~10시", "2018년 10~12시", "2018년 12~14시", "2018년 14~16시", 
                 "2018년 16~18시", "2018년 18~20시", "2018년 20~22시","2018년 22~24시",
                 "2019년", "2019년 0~2시", "2019년 2~4시", "2019년 4~6시", "2019년 6~8시",
                 "2019년 8~10시", "2019년 10~12시", "2019년 12~14시", "2019년 14~16시", 
                 "2019년 16~18시", "2019년 18~20시", "2019년 20~22시","2019년 22~24시",
                 "2020년", "2020년 0~2시", "2020년 2~4시", "2020년 4~6시", "2020년 6~8시",
                 "2020년 8~10시", "2020년 10~12시", "2020년 12~14시", "2020년 14~16시", 
                 "2020년 16~18시", "2020년 18~20시", "2020년 20~22시","2020년 22~24시",
                 "2021년", "2021년 0~2시", "2021년 2~4시", "2021년 4~6시", "2021년 6~8시",
                 "2021년 8~10시", "2021년 10~12시", "2021년 12~14시", "2021년 14~16시", 
                 "2021년 16~18시", "2021년 18~20시", "2021년 20~22시","2021년 22~24시"]

In [16]:
df_pm_time = df1_pm_raw.reset_index(drop = True).replace('-', 0).drop(columns = ["2017년", "2018년","2019년","2020년","2021년"])
df_pm_time.iloc[0:1]

,유형,2017년 0~2시,2017년 2~4시,2017년 4~6시,2017년 6~8시,2017년 8~10시,2017년 10~12시,2017년 12~14시,2017년 14~16시,2017년 16~18시,...,2021년 4~6시,2021년 6~8시,2021년 8~10시,2021년 10~12시,2021년 12~14시,2021년 14~16시,2021년 16~18시,2021년 18~20시,2021년 20~22시,2021년 22~24시
0,사고건수,6,8,1,7,20,10,6,10,8,...,28,52,135,122,142,185,250,247,204,232